page-home {
    .div-img-loading-margin{
        text-align: center;
        margin-top: 90%;
    }
    .div-img-loading{
        text-align: center;     
    }
    .ion-img {
        background: #000;
    }
}
